In [56]:
# Handle table-like data and matrices
import numpy as np
import pandas as pd

# Visualization
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.pylab as pylab
import seaborn as sns

# Configure visualizations
%matplotlib inline
mpl.style.use( 'ggplot' )
pylab.rcParams[ 'figure.figsize' ] = 8 , 6

from __future__ import division

In [57]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

In [58]:
%%R

library(psych)
vars <- c("mpg", "hp", "wt")
cars_summary = describe(mtcars[vars])
cars_table = mtcars

In [59]:
%Rpull cars_summary
%Rpull cars_table

In [60]:
#df= pd.DataFrame(cars_summary)
print cars_summary

    vars  n   mean    sd median trimmed   mad   min    max  range skew kurtosis

mpg    1 32  20.09  6.03  19.20   19.70  5.41 10.40  33.90  23.50 0.61    -0.37

hp     2 32 146.69 68.56 123.00  141.19 77.10 52.00 335.00 283.00 0.73    -0.14

wt     3 32   3.22  0.98   3.33    3.15  0.77  1.51   5.42   3.91 0.42    -0.02

       se

mpg  1.07

hp  12.12

wt   0.17

In [61]:
cars_df = pd.DataFrame(cars_table)

In [62]:
cars_df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [63]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
mpg     32 non-null float64
cyl     32 non-null float64
disp    32 non-null float64
hp      32 non-null float64
drat    32 non-null float64
wt      32 non-null float64
qsec    32 non-null float64
vs      32 non-null float64
am      32 non-null float64
gear    32 non-null float64
carb    32 non-null float64
dtypes: float64(11)
memory usage: 3.0+ KB

In [64]:
#groupby single column
grouped = cars_df['mpg'].groupby(cars_df['cyl'])
grouped.mean()

cyl
4.0    26.663636
6.0    19.742857
8.0    15.100000
Name: mpg, dtype: float64

In [71]:
#different approach for the same result
grouped = cars_df.groupby('cyl')['mpg']
grouped.mean()

cyl
4.0    26.663636
6.0    19.742857
8.0    15.100000
Name: mpg, dtype: float64

In [65]:
#groupby multiple columns
grouped = cars_df['mpg'].groupby([cars_df['cyl'],cars_df['am']])
grouped.mean()

cyl  am
4.0  0.0    22.900000
     1.0    28.075000
6.0  0.0    19.125000
     1.0    20.566667
8.0  0.0    15.050000
     1.0    15.400000
Name: mpg, dtype: float64

In [69]:
#count of each group
cars_df.groupby(['am', 'cyl']).size()

am   cyl
0.0  4.0     3
     6.0     4
     8.0    12
1.0  4.0     8
     6.0     3
     8.0     2
dtype: int64

In [88]:
cars_df.pivot_table(index=['am', 'cyl'],aggfunc=np.mean)

             carb        disp      drat      gear          hp        mpg  \
am  cyl
0.0 4.0  1.666667  135.866667  3.770000  3.666667   84.666667  22.900000
    6.0  2.500000  204.550000  3.420000  3.500000  115.250000  19.125000
    8.0  3.083333  357.616667  3.120833  3.000000  194.166667  15.050000
1.0 4.0  1.500000   93.612500  4.183750  4.250000   81.875000  28.075000
    6.0  4.666667  155.000000  3.806667  4.333333  131.666667  20.566667
    8.0  6.000000  326.000000  3.880000  5.000000  299.500000  15.400000

              qsec     vs        wt
am  cyl
0.0 4.0  20.970000  1.000  2.935000
    6.0  19.215000  1.000  3.388750
    8.0  17.142500  0.000  4.104083
1.0 4.0  18.450000  0.875  2.042250
    6.0  16.326667  0.000  2.755000
    8.0  14.550000  0.000  3.370000

In [92]:
cars_df_pivot = cars_df.pivot_table(index=['am', 'cyl'],aggfunc=np.mean)
cars_df_pivot['mpg']

am   cyl
0.0  4.0    22.900000
     6.0    19.125000
     8.0    15.050000
1.0  4.0    28.075000
     6.0    20.566667
     8.0    15.400000
Name: mpg, dtype: float64